# Compiled Source #
###################
*.exe
*.o
*.so
*.exp
*.lib

# Packages #
############
*.rar
*.tar
*.zip
*.gz

# Logs and databases #
######################
*.log
*.db
*.txt


# Folder-specific #
###################
analysis/tmp/
local/
ucloud/

mpiMux
serialMux
toto
mpiMux
